body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav.navbar.navbar-default {
  background-color: #939393;
}

.thumbnail {
  box-shadow: 0 0 5px 5px #fff;
}

.add {
  margin-bottom: 30px;
}

label {
  margin-top: 10px;
}

input {
  margin-bottom: 20px;
}

form {
  background: #696969;
  box-shadow: 0 0 5px 10px #696969;
}

#edit, #delete {
  margin: 10px;
}